button {
    background-color: #cf4d4d;
    border: #501717;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
    width: 96%;
  }
  
  button:hover {
    background-color: #bb1e1e;
  }



  