button {
    background-color: #35bdd4;
    border: #105499;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #1e5dbb;
  }



  